* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-bottom: 8vh;
  --footer-bottom: 20px;
}

body {
  background: radial-gradient(circle at top, #1b1f3b, #0a0c1b);
  overflow: hidden;
  height: 100vh;
  font-family: 'Great Vibes', cursive;
}

/* canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10px;
} */

canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100svh;
  display: block;
}

.text {
  position: fixed;
  /* bottom: 60px; */
  bottom: var(--text-bottom);              /* responsive spacing */
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 200;
  color: #f5f5f5;
  text-shadow: 0 0 15px rgba(255,255,255,0.6);
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  animation-delay: 2s;
}

footer {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  bottom: var(--footer-bottom);
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  :root {
    --text-bottom: 16svh;   /* push text higher */
    --footer-bottom: 70px;  /* avoid Safari bottom bar overlap */
  }

  .text {
    font-size: 50px;
    letter-spacing: 2px;
  }

  body {
    min-height: 100svh;
    width: 100%
  }

  footer{
    font-size: 20px;
}



